In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [3]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [82]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [6]:
df.nunique()

method             10
number              7
orbital_period    988
mass              381
distance          552
year               23
dtype: int64

### What is the number of data collected in each year?

In [7]:
df["year"].value_counts()

2011    185
2012    140
2013    118
2010    102
2009     98
2008     74
2007     53
2014     52
2005     39
2002     32
2006     31
2004     26
2003     25
2000     16
1999     15
2001     12
1996      6
1998      5
1992      2
1995      1
1997      1
1989      1
1994      1
Name: year, dtype: int64

### Which columns have missing values and how many?

In [8]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Write docstring for the function below.

In [4]:
def do_something(x, y, z):
    """
    Fonksiyonda yapılacak işlemde x, y, z değişkenleridir
    
    Paremeters
    ----------
    result: float
        Yapılan matematiksel işlemin sonucu
        
    Returns
    -------
    1 / result: float
        1'in yapılan matematiksel işleme bölümüdür
    
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [5]:
help(do_something)

Help on function do_something in module __main__:

do_something(x, y, z)
    Fonksiyonda yapılacak işlemde x, y, z değişkenleridir

    Paremeters
    ----------
    result: float
        Yapılan matematiksel işlemin sonucu

    Returns
    -------
    1 / result: float
        1'in yapılan matematiksel işleme bölümüdür

### Call do_something function for the (11,13,15) values and save it as result

In [6]:
do_something = do_something(11, 13, 15)
do_something

4.26441351888668

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [102]:
s = "I love Machine Learning and Deep Learning"
a = do_something
s.split()[int(a)]

'and'

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [103]:
import random

arr = [random.randint(1, 100) for i in range(10)]


arr2 = sorted(arr)
arr2

[18, 20, 47, 50, 56, 72, 76, 80, 81, 88]

### define a recursive function to calculate input numbers factorial named factorial

In [104]:
def factorial(x):
    if x==0:
        return 1 
    else: 
        return x * factorial(x-1)

factorial(4)

24

### define a function to merge the given arrays and calculate the median named twoMedian

In [105]:
def twoMedian(arr1, arr2):
 
  arr3 = np.concatenate((arr1, arr2))
    
  median = np.median(arr3)

  return median

arr1 = np.array([23, 12, 50, 67, 34, 123])
arr2 = np.array([71, 35, 88, 100, 156])

median = twoMedian(arr1, arr2)

median

67.0